/* Fond avec image et dégradé pour tout le site */
body {
  background: url('assets/images/fond.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

/* Navbar transparente */
.navbar {
  background: transparent !important;
  box-shadow: none;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: transparent;
}

/* Style général pour les sections */
section {
  padding: 60px 20px;
  background: transparent;
  margin: 20px auto;
  border-radius: 0;
  box-shadow: none;
  color: white;
  position: relative;
}

/* style général pour les boutons clicable : */
.btn {
  background-color: rgba(255, 255, 255, 0.249); /* Légère couleur blanche au survol */
  color: white; /* Assurer que le texte reste visible */
  padding: 10px 20px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  font-size: 1rem; /* Taille de police */
  transition: all 0.3s ease-in-out; /* Transition pour les effets */
  cursor: pointer; /* Curseur en mode clic */
}

/* Effet au survol */
.btn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Légère couleur blanche au survol */
  color: white; /* Assurer que le texte reste visible */
  transform: scale(1.05); /* Légère augmentation de taille */
}

/* Pour cacher le contenu de la section par défaut */
.section-content {
  display: none;
  font-size: 1rem;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.4s ease-out, max-height 0.4s ease-out;
}

/* Quand la section est survolée, on affiche le contenu */
.section-hover:hover .section-content,
.section-hover.open .section-content {
  display: block;
  opacity: 1;
  max-height: 1000px;
  transition: opacity 0.5s ease-in, max-height 1s ease-in;
}

/* Animation de la ligne sous chaque section */
section::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.6s ease;
}

/* Quand la section est survolée, on augmente la largeur de la ligne */
.section-hover:hover::before {
  width: 90%;
}

/* Animation du texte */
@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

section.visible .animated-text {
  animation: slideIn 1s ease-out forwards;
}

/* Par défaut, les éléments sont invisibles */
.animated-text {
  opacity: 0;
  transform: translateY(20px);
}

section h2, .section-hover {
  text-align: center;
  color: white;
  font-size: 2rem;
}

footer {
  background: transparent;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 0.7rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: transparent;
}

/* Style pour la section des projets */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style pour chaque projet individuel */
.project-item {
  width: 30%;
  margin: 10px;
  background-color:transparent;
  border: 1px;
  border-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center; /* Texte centré */
  transition: all 0.3s ease-in-out;
  color: white; /* Texte blanc pour contraste */
  padding-bottom: 15px;  /* Ajouter un peu d'espace interne */
}

/* Masquer initialement le contenu du projet */
.project-item .project-description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/* Afficher le contenu du projet au survol */
.project-item:hover .project-description {
  opacity: 1;
  max-height: 1000px;
}







/* Style de la modale (si besoin de personnaliser) */
.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.modal-header {
  border-bottom: 1px solid #ccc;
}

.modal-body img {
  max-width: 100%;
  border-radius: 5px;
}